# Application Configuration
ENVIRONMENT=development
PORT=8000
LOG_LEVEL=INFO

# Redis Feature Store
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# MongoDB Ingestion Buffer
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=spotq_eta_db

# Machine Learning Model Artifacts
MODEL_PATH=app/infrastructure/ml_models/artifacts/eta_model_v1.json